<div class="gallery-content">
<br>   

        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img1">
        <img src="img/stag.jpg" alt="Rock Bossanova Fourbeat Black"></a>
        <a href="#_" class="lightbox" id="img1">
        <img src="img/stag.jpg" alt="Rock Bossanova Fourbeat Black">
        <p>Sleeve for Rock Bossanova Fourbeat Black</p></a>

        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img2">
        <img src="img/mtr.jpg" alt="My Tiny Robots"></a>
        <a href="#_" class="lightbox" id="img2">
        <img src="img/mtr.jpg" alt="My Tiny Robots"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img3">
        <img src="img/girlposter.jpg" alt="Gig at the Loft"></a>
        <a href="#_" class="lightbox" id="img3">
        <img src="img/girlposter.jpg" alt="Gig at the Loft"></a></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img4">
        <img src="img/caferoyalgig.2.jpg" alt="Cafe Royal"></a>
        <a href="#_" class="lightbox" id="img4">
        <img src="img/caferoyalgig.2.jpg" alt="Cafe Royal"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img5">
        <img src="img/epcover.jpg" alt="EP Cover, made from a real floppy disc"></a>
        <a href="#_" class="lightbox" id="img5">
        <img src="img/epcover.jpg" alt="EP Cover, made from a real floppy disc"></a>   
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img6" >
        <img src="img/cabvol1.jpg" alt="Cabaret Voltaire"></a>
        <a href="#_" class="lightbox" id="img6">
        <img src="img/cabvol1.jpg" alt="Cabaret Voltaire"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img7" >
        <img src="img/mtralbum.jpg" alt="Deploy EP"></a>
        <a href="#_" class="lightbox" id="img7">
        <img src="img/mtralbum.jpg" alt="Deploy EP"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img8" >
        <img src="img/mapmaker.jpg" alt="Ballad of the Mapmakers Daughter EP"></a>
        <a href="#_" class="lightbox" id="img8">
        <img src="img/mapmaker.jpg" alt="Ballad of the Mapmakers Daughter EP"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img9" >
        <img src="img/MTR24thposter.jpg" alt="3rd Door"></a>
        <a href="#_" class="lightbox" id="img9">
        <img src="img/MTR24thposter.jpg" alt="3rd Door"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img10" >
        <img src="img/cube.jpg" alt="Henry's Cellar Bar"></a>        
        <a href="#_" class="lightbox" id="img10">
        <img src="img/cube.jpg" alt="Henry's Cellar Bar"></a> 
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img11" >
        <img src="img/off the cuff.jpg" alt="GRV"></a>
        <a href="#_" class="lightbox" id="img11">
        <img src="img/off the cuff.jpg" alt="GRV"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img12" >
        <img src="img/zutalors.jpg" alt="Zut Alors"></a>
        <a href="#_" class="lightbox" id="img12">
        <img src="img/zutalors.jpg" alt="Zut Alors"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img13" >
        <img src="img/wavingnotdrowning.jpg" alt="Wave Pictures"></a>
        <a href="#_" class="lightbox" id="img13">
        <img src="img/wavingnotdrowning.jpg" alt="Wave Pictures"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img14" >
        <img src="img/remix.jpg" alt="Electric Eskimo Remix"></a>
        <a href="#_" class="lightbox" id="img14">
        <img src="img/remix.jpg" alt="Electric Eskimo Remix"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img15" >
        <img src="img/robo@thehobo.jpg" alt="cut out and keep robot"></a>
        <a href="#_" class="lightbox" id="img15">
        <img src="img/robo@thehobo.jpg" alt="cut out and keep robot"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img16" >
        <img src="img/thisismusic.jpg" alt="This Is Music"></a>
        <a href="#_" class="lightbox" id="img16">
        <img src="img/thisismusic.jpg" alt="This Is Music"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img17" >
        <img src="img/yuletide.jpg" alt="Xmas show at the GRV"></a>
        <a href="#_" class="lightbox" id="img17">
        <img src="img/yuletide.jpg" alt="Xmas show at the GRV"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img18" >
        <img src="img/kraken.jpg" alt="Giant Squid vs Little Robots!"></a>
        <a href="#_" class="lightbox" id="img18">
        <img src="img/kraken.jpg" alt="Giant Squid vs Little Robots!"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img19" >
        <img src="img/cannonballjane.jpg" alt="Cannonball Jane was excellent"></a>
        <a href="#_" class="lightbox" id="img19">
        <img src="img/cannonballjane.jpg" alt="Cannonball Jane was excellent"></a>
        
        <!-- - - - - - - - - - - image - - - - - - - - - -  -->
        
        <a href="#img20" >
        <img src="img/guildofdefiants.jpg" alt="guild of defiants"></a>
        <a href="#_" class="lightbox" id="img20">
        <img src="img/guildofdefiants.jpg" alt="guild of defiants"></a>
        

</div>