<!-- - - - - - - - - - -  MY TINY ROBOTS - - - - - - - - - -  -->
<div class="primary-content group">

<!-- ......... right column ..........  -->

    <div class="right">
        <p>My Tiny Robots were a short lived Edinburgh band, who released a smattering of unpopular CDs and played gigs to (at best) half a roomfull of disinterested folk. There was that time they were lucky enough to play with the excellent <a href="http://www.pitchfork.com/artists/27600-dum-dum-girls/" target="_blank">Dum Dum Girls</a>, and that time with BAFTA winning actor <a href= "http://www.themattberry.co.uk/" target="_blank">Matt Berry</a> (from The I.T. Crowd), oh and who could forget that gig with the <a href= "http://www.themaccabees.co.uk" target="blank">The Maccabees</a>, but apart from that it was pedestrian at best. They did, however, have one ace up their sleeve, in the shape of ELECTRIC ESKIMO. Who tirelessly stayed up till, sometimes, 3 O'clock in the morning. With pritstick and glitter in hand tirelessly crafting beautiful works of art for all their promotional needs, a selection of which are presented here for your enjoyment, just click <a href="#gallery" class="smoothScroll">gallery</a>.</p>
    </div>

    <!-- ......... left column ..........  -->


      <div class="left">
        <p>Fell free to listen to some beautifully crafted songs, recorded amongsth the lofty pines of Aviemore.</p>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=1195553750/size=small/bgcol=333/linkcol=f171a2/transparent=true/" seamless><a href="http://mytinyrobots.bandcamp.com/track/zut-alors">Zut Alors by My Tiny Robots</a></iframe>
         <br>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3922249070/size=small/bgcol=333/linkcol=fe7eaf/track=4193711512/transparent=true/" seamless><a href="http://mytinyrobots.bandcamp.com/album/rock-bossa-nova">rock bossa nova by My Tiny Robots</a></iframe><br>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=430200459/size=small/bgcol=333/linkcol=fe7eaf/transparent=true/" seamless><a href="http://mytinyrobots.bandcamp.com/track/guild-of-defiants">Guild of Defiants by My Tiny Robots</a></iframe><br>
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3922249070/size=small/bgcol=333/linkcol=fe7eaf/track=2742266633/transparent=true/" seamless><a href="http://mytinyrobots.bandcamp.com/album/rock-bossa-nova">rock bossa nova by My Tiny Robots</a></iframe><br>

      </div>
    </div>
</section>