<!DOCTYPE html>
<html>
<head>
  <title>My Tiny Robots</title>
  <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Knewave|Codystar|Poiret+One|Josefin+Sans|Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="main-header">
  <!-- - - - - - - - - - - title  - - - - - - - - - -  -->
    <h1>my tiny robots</h1>
  <!-- ......... nav ..........  -->
    <h2><a href="/">home</a> - <a href="/gallery">gallery</a></a></h2>
  </header>
  </div class="gradient">
  
    <%= yield %>

  <footer class="main-footer">
    <p> this is the footer, there isn't a lot going on down here, but thanks for looking.
  </footer>
</body>
</html>